* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
     
    font-size: 62.5%;
  }

body {
    margin: 0;
    background: #f3f5f7;
    font-family: "Lexend Deca", sans-serif;
}

body header {
    background: var(--linear);
    color: var(--white);
    height: 20rem;
    padding: 5rem 2rem;
}

body main {
    padding: 5rem 2rem;
}

#header-titulo {
    max-width: 37.4rem;
    margin: 0 auto;
    align-items: center;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 4rem;
    font-size: 2.4rem;
}

#header-pesquisa {
    background: rgba(255, 255, 255, 0.2);
    max-width: 37.4rem;
    height: 4rem;
    margin: 0 auto;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 5px;
    gap: 10px; 
}

#header-pesquisa img {
    margin-left: 2rem;
}

form input {
    width: 100%;
    padding: 15px 0 15px 0;
    outline: none;
    background: none;
    border: none;
    font: 1.8rem 'Lexend Deca';
    color: var(--white);
}

::-webkit-input-placeholder {
    width: 100%;
    color: #FFFFFF;
    opacity: 0.6;
}

#card {
    max-width: 37.4rem;
    margin: 0 auto;
    padding: 2rem;
    background: var(--white);
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    margin-bottom: 2.5rem;
    animation-name: downtop;
    animation-duration: 700ms;
}

#card h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1A202C;
}

#card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #717171;
    margin-top: 9px;
}

#data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

#data p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #717171;
}

@media (min-width: 420px){

    #header-titulo {
        max-width: 90rem;
    }

    #header-pesquisa {
        max-width: 90rem;
    }

    #card {
        max-width: 900px;
    }
    
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}